@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #2C3233;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #495F63;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__estilo {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    width: 378px;
    padding: 21.5px 0;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
}

.apresentacao__links__estilo:hover {
    background-color: var(--cor-hover);
    transform: scale(1.1);
    transition: .3s;
}

.apresentacao__conteudo__certificado {
    color: var(--cor-terciaria);
    text-decoration: none;
}

.img {
    width: 35%;
    height: 35%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}